* {
  margin: 0;
  padding: 0;
}

.fundoAzul {
  background-color: #296AEA;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.quadradoBranco {
  width: 30%;
  height: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 100px;

}

.listaTarefa {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
  overflow-y: auto;
}